*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #dddddd;
}

.sketch-wrapper{
    width: 100%;
}
.sketch-container{
    background-color: #FFF;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: flex;
}
.sketch-boxes{
    border: 1px solid black;
    box-sizing: border-box;
}