*{
    margin: 0;
    padding: 0;
}
body{
    padding-top: 24px;
    background-color: #4485ff;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.sketch-wrapper{
    min-width: 350px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    gap: 24px;
    padding: 24px;
    background-color: #FFF;
    border-radius: 3%;
}

.slider-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}
.slider{
    cursor: pointer;
    height: 6px;
}

.sketch-container{
    background-color: #FFF;
    width: 350px;
    height: 350px;
    border: 1px solid gray;
    display: flex;
}
.sketch-boxes{
    border: 1px solid gray;
    box-sizing: border-box;
}